<app-page>
  <div class="container" *ngIf="client[0] != undefined">
    <div class="row caixa">
      <h2 class="titulo">Alteração de Dados Cadastrais</h2>
      <p class="titulo">Clique no ícone para alterar seus dados</p>
    </div>

    <div class="row caixa ">
      <div class="col-3 topo">
        <div class="ajusteimg">
          <h4>Dados pessoais</h4>
          <img
            (click)="openEdit()"
            class="img"
            src="../assets/images/edit.png"
            alt=""
          />
        </div>
      
        <div class="caixa">
      </div>
      <h5>Nome</h5>
      <p> {{client[0].nome}}<p>
      <h5>Data de Nascimento</h5>
      <p> <input type="text"  [(ngModel)]="client[0].dataNascimento"  mask="00/00/0000"> </p>
      <h5>CPF</h5>
      <p> <input type="text" [(ngModel)]='client[0].cpf' mask="000.000.000-00"></p>
      <h5>Estado Civil</h5>
      <p>{{client[0].relacionamento}}</p>
    </div>

      <div class="col-3 topo">
        <div class="ajusteimg">
          <h4>Contato</h4>
          <a routerLink="contato"
            ><img class="img" src="../assets/images/edit.png" alt=""
          /></a>
        </div>
        <h5>E-mail</h5>
        <p>Nome qualquer um</p>
        <h5>Celular</h5>
        <p>(00) 1234-5678</p>
        <h5>Telefone</h5>
        <p>(00) 9192-9394</p>
      </div>

      <div class="col-3 topo">
        <div class="ajusteimg">
          <h4>Endereço</h4>
          <a routerLink="endereco"
            ><img class="img" src="../assets/images/edit.png" alt=""
          /></a>
        </div>
        <h5>Logradouro</h5>
        <p>Rua um</p>
        <h5>Cep</h5>
        <p>000.000-00</p>
        <h5>Bairro</h5>
        <p>Nome qualquer um</p>
        <h5>Estado</h5>
        <p>AP</p>
        <h5>Número</h5>
        <p>0000</p>
        <h5>Cidade</h5>
        <p>Nova Iorque</p>
        <h5>País</h5>
        <p>Brasil</p>
      </div>

      <div class="col-3 topo">
        <div class="ajusteimg">
          <h4>Ocupação</h4>
          <a routerLink="ocupacao"
            ><img class="img" src="../assets/images/edit.png" alt=""
          /></a>
        </div>
        <h5>Cargo Atual</h5>
        <p>Desconhecido</p>
        <h5>Salário</h5>
        <p>RS 2500,00</p>
      </div>
    </div>
  </div>
</app-page>
