/*main*/
main {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

/* Login */

.frm-bg {
  display: flex;
  justify-content: center;
}

#formulario {
  background: #efc88e;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  width: 370px;
}

#formulario input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 15px;
}

#formulario a {
  margin-bottom: 100px;
  color: #d28515;
}

#botao-form,
#enviar-cod {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ff9900;
  display: block;
  border-radius: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: #ff9900 1px solid;
}

.full-box {
  width: 100%;
  margin-bottom: 2vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

span {
  font-size: 14px;
  color: red;
}
