<header class="container-fluid">
  <nav class="container-fluid">
    <div class="row d-flex">
      <a href="login"><img src="../../assets/images/logo.png" id="logo" /></a>
      <h5 class="col px-4">Serviços</h5>
      <h5 class="col px-4">Ajuda</h5>
    </div>
  </nav>
  <nav class="container-fluid justify-content-end">
    <div class="row justify-content-end px-4">
      <button class="btn botao" (click)="fazerLogin()">
        <img src="../../assets/images/cadeado.png" id="locker" />
        <strong class="col"> Acesse sua conta </strong>
      </button>
      <button class="btn gy-3 botao" routerLink="/cadastro">
        <strong> Cadastre-se </strong>
      </button>
    </div>
  </nav>
</header>
