<app-page>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h5 class="">Ficou ainda mais fácil se tornar um cliente do</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img class="" src="../../../assets/images/logo.png" />
      </div>
      <div class="col-12">
        <h6 class="d-flex justify-content-center">
          Estamos quasei finalizando!
        </h6>
        <h6 class="d-flex justify-content-center">
          Agora crie a sua senha de acesso ao Internet Banking
        </h6>
      </div>
    </div>

    <main>
      <form [formGroup]="formGoupSenha">
        <div class="row g3 d-flex justify-content-center mt-3">
          <div class="col-md-6">
            <label class="form-label mb-1" for="senha">Crie sua senha</label>
            <input
              type="password"
              class="form-control"
              placeholder="xxxxxxxx"
              formControlName="senha"
            /><!--[(ngModel)]="senha"-->
            <div id="passwordHelpBlock" class="form-text ps-5">
              <p>A senha deve conter:</p>
              <ul>
                <li>No mínimo 8 caracteres (incluindo letras e números)</li>
                <li>Não pode conter dados da pessoa</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row g3 d-flex justify-content-center mt-3">
          <div class="col-md-6">
            <label class="form-label mb-1" for="confirmarSenha"
              >Confirme sua senha</label
            >
            <input
              type="password"
              class="form-control"
              placeholder="xxxxxxxx"
              formControlName="confirmarSenha"
            />
            <!--[(ngModel)]="confirmarSenha"-->
          </div>
        </div>

        <div class="col col-12 d-flex justify-content-center mt-5">
          <button class="btn btn-warning" (click)="verificarSenha()">
            Continuar
          </button>
        </div>
      </form>
    </main>
  </div>
  <router-outlet></router-outlet>
</app-page>
