<app-page>
  <!-- seletor das rotas dos componentes dentro da pasta encerramento -->
  <router-outlet></router-outlet>

  <section>
    <h1>Encerramento de Conta</h1>
    <hr />
    <h5>
      Enviaremos um código de confirmação para você.<br />
      Selecione em qual opção deseja receber o código.
    </h5>

    <article class="d-flex">
      <span>
        <a [routerLink]="'telefone'">
          <button type="button" id="botao1" class="btn btn-light">SMS</button>
        </a>
      </span>

      <span>
        <a [routerLink]="'email'">
          <button type="button" id="botao2" class="btn btn-light">
            E-mail
          </button>
        </a>
      </span>
    </article>
  </section>
</app-page>
