a{ 
    color: inherit;
    text-decoration: none;
  }
  /*body*/
  html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  /*header*/
  header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 200, 142);
  }
  
  fieldset{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid white;
  }
  /*footer*/
  footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: rgb(236, 112, 0);
      text-align: center;    
      height: 16vh;
      margin-top: 230px;
  }
  footer #serviços, #ajuda, #sobre{     
  }
  
  footer a, h2{
    color: white;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
  }
  main{
    height: 66vh;
  }
  /*nav*/
  #t-center{
      text-align: center;
      margin-bottom: 20px;
  }
  
  nav{
    display: flex;
    padding: 20px;
    align-items: center;
    height: 18vh;
  }
  
  #logo{
    align-items:flex-end;
  }
  
  #opcao-servico-nav{
    display: flex;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;  
  }
  
  
  .alterar-senha{
    font-size: 16pt;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
  }
  
  .alterar-dados{
    display:-ms-inline-flexbox;
    margin: 20px; 
  
  }
  .botao-nav{
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ff9900;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
  }
  #btn{
    padding: 8px;
    margin-top: 20px;
    background-color: #ff9900;
    border: #ff9900 1px solid;
  }
  
  .dados{
    display: inline-table;
    width: 300px;
    height: 400px;
    padding: 5px;
    text-align:center;
  }
  .opcao-div-nav{
    margin-right: 15px;
  }
  .size-form{
    padding: 8px;
    margin-bottom: 1px;
    display: block;
    border-radius: 1px;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    width:400px;
   
  }
  
  
  
  #h3-tl{
    margin-left: 2px;
    color: #4F4F4F;
  }
  
  h4{
    margin-left: 15px;
    color: #696969;
  }
  
  #none-p{
    margin-left: 16px;
    color: #B5B5B5;
  }