a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #ff9900;
  font-weight: 600;
}

figcaption {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*area-cliente*/
#search-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#search-section label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ff9900;
  font-weight: 600;
  margin-right: 20px;
  font-size: 13pt;
}

#search-div {
  display: flex;
  box-shadow: 0 0 1em #808080;
  border-radius: 10px;
  padding: 8px;
}

#search-div:hover {
  box-shadow: 0 0 1em #c9c9c9;
}

#search-div input {
  font-size: 12pt;
  width: 23em;
  border: 1px solid #fff;
}

#search-div input:focus {
  outline: none !important;
  border: 1px solid #fff;
  caret-color: #000;
}

#search-div img {
  cursor: pointer;
}

/*nome cliente*/
#nome-cliente-section {
  display: flex;
}

#nome-cliente-section h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 34pt;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 90px;
}

/*servicos*/
#servicos-section {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.direction {
  cursor: pointer;
}

#servicos-div {
  display: flex;
  text-align: center;
}

#servicos-div figure {
  cursor: pointer;
}
