<app-page>
  <section class="container-fluid">
    <section class="container frm-bg">
      <section class="col-md-5 mobile-width">
        <form id="formulario" [formGroup]="loginForm" action="">
          <h1>Faça seu login</h1>

          <div class="full-box">
            <input
              type="text"
              class="form-control"
              formControlName="cpf"
              placeholder="Informe seu CPF"
            />
            <ng-container *ngIf="loginForm.controls.cpf.touched">
              <span *ngIf="loginForm.controls.cpf.errors">CPF inválido</span>
            </ng-container>
          </div>

          <div class="full-box">
            <input
              type="password"
              class="form-control"
              formControlName="senha"
              placeholder="Informe sua senha"
            />
            <ng-container *ngIf="loginForm.controls.senha.touched">
              <span *ngIf="loginForm.controls.senha.errors"
                >Senha inválida</span
              >
            </ng-container>
          </div>
          <br />

          <a href="/redefinir-senha" id="forgot-pass">Esqueci minha senha</a>

          <div class="full-box">
            <button
              type="submit"
              class="form-control"
              id="botao-form"
              (click)="login()"
            >
              Acessar conta
            </button>
          </div>
        </form>
      </section>
    </section>
  </section>
</app-page>
