h1 {
  margin-bottom: 4vh;
}

a#forgot-pass {
  cursor: pointer;
  text-decoration: underline;
}

.full-box {
  width: 100%;
  margin-bottom: 2vh;
}

.frm-bg {
  display: flex;
  justify-content: center;
}

#formulario {
  background: #efc88e;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  width: 370px;
}

#formulario a {
  margin-bottom: 100px;
  color: #d28515;
}

#botao-form {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ff9900;
  display: block;
  border-radius: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: #ff9900 1px solid;
}

/* Validação */
span {
  font-size: 14px;
  color: red;
}

@media (max-width: 700px) {
  .container-fluid {
    width: 100%;
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .mobile-width {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .container-fluid {
    min-width: 540px;
  }

  .container {
    min-width: 540px;
  }

  .mobile-width {
    min-width: 540px;
  }
}

@media (max-width: 540px) {
  .container-fluid {
    min-width: 100%;
    padding: 0;
  }

  .container {
    min-width: 100%;
    padding: 0;
  }

  .mobile-width {
    min-width: 100%;
  }
}
