<app-page>
  <main>
    <h1>Encerramento de Conta</h1>
    <hr />
    <div style="text-align: center">
      <h4>
        Sua conta foi encerrada com sucesso. Esperamos que você volte em breve!
      </h4>
    </div>
  </main>
</app-page>
