body{
  margin: 0;
  padding: 0;
}

/*area-cliente*/
#saldo-div{
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

#saldo-div p{
  background-color: #ff9900;
  padding: 5px;
  color: #fff;
}

#dados-div{
  display: flex;
}

#dados-div div{
  margin-right: 10px;
}

#dados-agencia{
  color: #fff;
  background-color: #ff9900;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
}

#dados-conta{
  color: #fff;
  background-color: #ff9900;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}

#logout{
  display: flex;
  align-items: end;
  margin-bottom: 13px;
}

#logout img{
  background-color: #ff9900;
  padding: 7px;
}

button {
  float: right;
  margin-left: 10px;
  margin-top: 50px;
}

.botoes{
  margin: 1vh 0vh 0vh 100vh;
  font-size: 20px;
}

#botao2{
  margin-top: 20px;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
}

#botao1{
  margin-top: 20px;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
}

#botao3{
  margin-top: 20px;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
}

#campo{
  text-align: center;
}

#saldo-div{
  margin-top: 30px;
}

h1{
   margin: 10vh 0vh 0vh 70vh;
}
h4{
  text-align: center;
  margin: 13vh 0vh 0vh 0vh;
}

h5{
   margin:1vh 0vh 0vh 70vh;
}

span{
  margin: 0vh 0vh 0vh 65vh;
  padding: auto;
}

article{
  margin: 0vh 90vh 0vh 0vh;
  padding: auto;
}

.form-control{
  width: 80vh;
  margin: 0vh 0vh 0vh 65vh;
}

.ajustar-radio{
  margin: 0vh 0vh 0vh 0vh;
}

/*separador*/
#divisor-left{
  margin-left: 20px;
}

#divisor-right{
  margin-right: 20px;
}

/*area-cliente*/
#saldo-div{
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

#saldo-div p{
  background-color: #ff9900;
  padding: 5px;
  color: #fff;
}

#dados-div{
  display: flex;
}

#dados-div div{
  margin-right: 10px;
}

#dados-agencia{
  color: #fff;
  background-color: #ff9900;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
}

#dados-conta{
  color: #fff;
  background-color: #ff9900;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}

#logout{
  display: flex;
  align-items: end;
  margin-bottom: 13px;
}

#logout img{
  background-color: #ff9900;
  padding: 7px;
}
/*area de pesquisa*/

#search-section{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#search-section label{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff9900;
  font-weight: 600;
  margin-right: 20px;
  font-size: 13pt;
}

#search-div{
  display: flex;
  box-shadow: 0 0 1em #808080;
  border-radius: 10px;
  padding: 8px;
}

#search-div:hover{
  box-shadow: 0 0 1em #c9c9c9;
}

#search-div input{
  font-size: 12pt;
  width: 23em;
  border: 1px solid #fff;
}

#search-div input:focus{
  outline: none !important;
  border: 1px solid #fff;
  caret-color: #000;
}

#search-div img{
  cursor: pointer;
}
/*nome cliente*/

#nome-cliente-section{
  display: flex;
}

#nome-cliente-section p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin-left: 50px;
}

/*servicos*/
#servicos-section{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.direction{
  cursor: pointer;
}

#servicos-div{
  display: flex;
  text-align: center;
}

#servicos-div figure{
  cursor: pointer;
}

