
<div class="modal-header"   >
  <h4 class="modal-title">Editar Dados Pessoais</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="ml-3 mt-2" *ngIf="client[0] != undefined" >
<h5>Nome</h5>
<input type="text"   [(ngModel)]='client[0].nome' >


<h5>Data de Nascimento</h5>
<input type="text"  [(ngModel)]='client[0].dataNascimento'   mask="00/00/0000" >


<h5>CPF</h5>
<input type="text" [(ngModel)]='client[0].cpf' mask="000.000.000-00"  >


<h5>Estado Civil</h5>
<input type="text" [(ngModel)]='client[0].relacionamento' >

</div>

<div   class="modal-footer mt-4">
  <div class="full-box ">
    <button
      type="submit"
      class="form-control "
      (click)="saveData()"
    >
      Salvar
    </button>
  </div>
  </div>

