<app-page>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h5 class="">Ficou ainda mais fácil se tornar um cliente do</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img class="" src="../../../assets/images/logo.png" />
      </div>
      <div class="col-12">
        <h6 class="d-flex justify-content-center">
          Estamos quasei finalizando!
        </h6>
        <h6 class="d-flex justify-content-center">
          Agora no envie os seguintes arquivos: Seu documento com foto, uma foto
          sua segurando o documento
        </h6>
      </div>
    </div>

    <main>
      <form>
        <div class="row g3 d-flex justify-content-center mt-3">
          <div class="col-md-6">
            <label class="form-label mb-1" for="doc-foto"
              >Informe seu documento com foto</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="EX: RG, CPF"
              aria-label="doc-foto"
              name="doc-foto"
              id="doc-foto"
              required
            />
          </div>
        </div>

        <div class="row g3 d-flex justify-content-center mt-3">
          <div class="col-md-6">
            <label for="formFileSm" class="form-label mb-1"
              >Informe sua foto segurando o documento</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              required
            />
          </div>
        </div>

        <div class="col col-12 d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-warning">Continuar</button>
        </div>
      </form>
    </main>
  </div>
  <router-outlet></router-outlet>
</app-page>
