body{
  margin: 0;
  padding: 0;
}

/*area-cliente*/
h1{
  margin: 5vh 0vh 0vh 70vh;
}

h4{
 text-align: center;
}

.form-control{
  width: 80vh;
  margin: 0vh 0vh 0vh 65vh;
}

article{
  margin: 0vh 50vh 0vh 80vh;
}

button {
  margin: 0vh 0vh 0vh 0vh ;
  font-size: 20px;

}

.btn{
  margin-top: 20px;
  background-color: #F0AD4E;
  color: #fff;
  border: #F0AD4E 1px solid;
  cursor: pointer;
  margin: 1vh 0vh 0vh 4vh;
  width: 20vh;
  text-align: center;
}

