<app-page>
  <section>
    <h1>Encerramento de Conta</h1>
    <hr />

    <h4>Fale para nós, qual o motivo do encerramento da conta?</h4>
    <form>
      <div class="mb-3">
        <textarea
          class="form-control"
          id="Textarea"
          placeholder="Escreva aqui"
        ></textarea>
      </div>
    </form>

    <article class="d-flex">
      <a [routerLink]="'../codigo'">
        <button type="button" id="botao1" class="btn btn-warning">
          Voltar
        </button>
      </a>
      <a [routerLink]="'../finalizacao'">
        <button type="button" id="botao2" class="btn btn-warning">
          Avançar
        </button>
      </a>
    </article>
  </section>
</app-page>
